/* IconStyles.module.css */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.iconSmall {
  width: 1em;  /* Small icons */
  height: 1em;
}

.iconMedium {
  width: 1.5em;  /* Medium, commonly used size */
  height: 1.5em;
}

.iconLarge {
  width: 2em;    /* Large icons */
  height: 2em;
}

.customImage {
  max-width: 100%;
  height: auto;
  border: 0; /* Remove default border styles */
  display: block; /* Ensures no extra space around the image */
  margin-left: auto;
  margin-right: auto; /* Center the image horizontally */
}
