<!-- home/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Tailwind CSS if you're using it -->
    <!-- Update the href with the 'static' endpoint instead of 'home.static' -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home/css/app.css') }}">
    <title>Janus</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>