.dropdownMenuContainer {
  position: relative;
}

.dropdownToggle {
  background-color: var(--color-offWhite);
  color: var(--color-black);
  padding: var(--spacing-xs);
  font-family: var(--font-family-body);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-white);
  border: var(--border-width-thin) solid var(--color-mediumGray);
  box-shadow: var(--shadow-elevation-low);
  list-style: none;
  padding: 0;
  margin: var(--spacing-xxs) 0 0 0;
}
