/* menuItemStyles.module.css */
.menuItem {
  list-style: none; /* Removes default list styling */
}

.menuItemLink {
  text-decoration: none; /* Removes default underline from links */
  color: var(--black); /* Adjusted to use CSS variable */
  padding: 8px; /* This value should be updated according to your design tokens */
  display: flex;
  align-items: center;
  transition: color 0.2s, background-color 0.2s;
}

.menuItemIcon {
  margin-right: 4px; /* This value should be updated according to your design tokens */
  display: flex; /* To align icon properly */
}

/* Hover and active states */
.menuItemLink:hover, .menuItemLink:active {
  color: var(--darkGray); /* Adjusted to use CSS variable */
  background-color: var(--offWhite); /* Adjusted to use CSS variable */
}
