.logoPlaceholder {
  width: 50px; /* Or your preferred size */
  height: 50px; /* Or your preferred size */
  background-color: var(--color-accent); /* Or any color from your global styles */
  cursor: pointer;
  /* Add more styling as per your design requirements */
  border-radius: var(--border-radius-standard); /* Example usage of a global variable */
  box-shadow: var(--shadow-default); /* Example usage of a global variable */
}
