.navItem {
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .navLink {
    color: var(--color-text-primary); /* Use your global text color */
    text-decoration: none; /* Removes the underline from links */
    padding: 10px 0; /* Add some padding for clickable area */
  }
  
  .activeDesign {
    border-bottom: 2px solid blue; /* Example color for the Design section */
  }
  
  .activeArt {
    border-bottom: 2px solid purple; /* Example color for the Art section */
  }
  
  .activePhilosophy {
    border-bottom: 2px solid red; /* Example color for the Philosophy section */
  }
  
  /* Adjust the colors as per your theme's design tokens */
  