/* tabStyles.module.css */
@import url('../../../styles/globals.css');

.tab-item {
  cursor: pointer;
  padding: var(--spacing-small) var(--spacing-medium);
  display: inline-block;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--color-text-secondary);
  border-bottom: 3px solid transparent; /* Styling adjustment for a clean look */
  transition: color 0.3s, border-color 0.3s;
}

.tab-item.active {
  color: var(--color-text-primary);
  border-bottom-color: var(--color-primary); /* Highlighting the active tab */
}

/* Enhancing the focus and hover states for better interactivity */
.tab-item:focus, .tab-item:hover {
  color: var(--color-text-primary);
  border-bottom-color: var(--color-accent); /* Subtle indication for hover/focus */
}
