/* Assuming CSS variables are defined globally and imported in _app.js */

/* Horizontal Navigation Bar Styles */
.horizontalNav {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  height: 60px; /* Or set to 'auto' if you want it to adjust based on content */
  align-items: center;
  padding: 15px 20px;;
}

.navList {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navList li {
  margin-right: var(--md-spacing);
}

.navList li:last-child {
  margin-right: 0;
}

.navList a {
  color: var(--white); /* Changed text color for better contrast against black background */
  text-decoration: none;
  padding: var(--xxs-spacing) var(--xs-spacing);
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
  .horizontalNav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .navList {
    flex-direction: column;
  }

  .navList li {
    width: 100%;
  }
}

/* Notes:
- Ensure all CSS variables (--black, --sm-spacing, etc.) are defined in your global stylesheet.
- Flexbox layout for dynamic spacing and alignment.
- Mobile responsiveness with media query adjustments.
- Accessibility considerations for all navigation elements. */
