.horizontalNav {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: var(--spacing-small);
}

@media (max-width: var(--breakpoint-sm)) {
  .horizontalNav {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-small);
  }
}
