/* checkboxStyles.module.css */
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: var(--spacing-small); /* Adjusted from xs-spacing to small for consistency */
  -webkit-appearance: none; /* Targets WebKit browsers to remove default style */
  appearance: none;
  width: 20px; /* Adjusted for consistency, consider using a global variable if size is standardized */
  height: 20px;
  background-color: var(--color-background);
  border: 2px solid var(--color-border); /* Example adjustment */
  border-radius: var(--border-radius-subtle);
  box-shadow: var(--shadow-subtle);
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.checkbox-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-success); /* Example of using a success color for checked state */
  box-shadow: var(--shadow-emphasis);
}

.checkbox-label {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--color-text-primary);
}

.checkbox-input:focus, .checkbox-input:hover {
  box-shadow: var(--shadow-focus);
}
