/* radioButtonStyles.module.css */
.radio-button-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.radio-input {
  margin-right: var(--spacing-small);
  -webkit-appearance: none; /* For WebKit browsers */
  appearance: none;
  width: 20px; /* Adjust size as necessary, consider using a specific variable */
  height: 20px;
  background-color: var(--color-background);
  border: 2px solid var(--color-border); /* Use border variables */
  border-radius: 50%;
  box-shadow: var(--shadow-default);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-input:checked {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-focus);
}

.radio-label {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--color-text-primary);
}

.radio-input:focus,
.radio-input:hover {
  box-shadow: var(--shadow-emphasis);
}

.radio-input:disabled {
  background-color: var(--color-disabled);
  box-shadow: none;
  cursor: not-allowed;
}
