/* textFieldStyles.module.css */
.text-field {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--color-text-primary);
  background-color: var(--color-input-background);
  border: var(--border-width-default) var(--border-style-solid) var(--color-border);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-subtle);
  box-shadow: var(--shadow-default);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.text-field:focus {
  outline: none;
  border-color: var(--color-focus);
  box-shadow: var(--shadow-focus);
}
