/* toggleSwitchStyles.module.css */
.toggle-switch-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-small);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Adjust size as needed or use a variable */
  height: 34px; /* Adjust size as needed or use a variable */
  background-color: var(--color-background); /* Default background */
  border-radius: 34px;
  transition: background-color 0.4s;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-disabled); /* Default slider background */
  transition: background-color 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-primary); /* Knob color */
  transition: transform 0.4s;
  border-radius: 50%;
  box-shadow: var(--shadow-subtle); /* Subtle shadow for the knob */
}

.toggle-input:checked + .slider {
  background-color: var(--color-success); /* Slider background when checked */
}

.toggle-input:focus + .slider {
  box-shadow: 0 0 1px var(--color-focus), var(--shadow-focus); /* Enhanced shadow for focus */
}

.toggle-input:checked + .slider:before {
  transform: translateX(26px); /* Move knob to the right when checked */
}
